.lightContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2em;
  background-color: #dfdfdf48;
  padding: 4em;
}

.lightContainer .priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
}

.lightContainer .priceContainer .price {
  font-size: 50px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.lightContainer .description p {
  color: #7c7c7c;
}

.lightContainer .priceContainer .time {
  color: #7c7c7c;
  padding: 0px;
  margin: 0px;
}

.darkContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2em;
  background-color: black;
  padding: 6em 4em;
  position: relative;
}

.darkContainer > div > div > h2 {
  color: white;
}

.darkContainer .priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
}

.darkContainer .priceContainer .price {
  font-size: 50px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  color: white;
}

.darkContainer .description p {
  color: #7c7c7c;
}

.darkContainer .priceContainer .time {
  color: #7c7c7c;
  padding: 0px;
  margin: 0px;
}

.darkContainer > .coloredLine {
  height: 4px;
  width: 100%;
  background-image: linear-gradient(to left, royalblue, crimson);
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 1250px) {
  .lightContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 2em;
    background-color: #dfdfdf48;
    padding: 4em 2em;
    text-align: start;
  }

  .darkContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 2em;
    background-color: black;
    padding: 4em 2em;
    position: relative;
    text-align: start;
  }

  .packageInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1em;
    /* text */
  }

  .lightContainer .priceContainer,
  .darkContainer .priceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
  }
}

@media only screen and (max-width: 680px) {
  .lightContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2em;
    background-color: #dfdfdf48;
    padding: 4em 2em;
    text-align: start;
  }

  .darkContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2em;
    background-color: black;
    padding: 4em 2em;
    position: relative;
    text-align: start;
  }

  .packageInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1em;
    /* text */
  }

  .lightContainer .priceContainer,
  .darkContainer .priceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
  }
}

