.btn_dark {
  background-color: transparent;
  border: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.btn_dark span {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.btn_dark span:hover {
  text-decoration: underline;
  transition: 0.2s ease;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.btn span {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.btn span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.arrowBtn {
  transition: 0.5s ease;
}

.arrowBtn:hover {
  animation: arrowBtn 0.5s ease infinite alternate;
}

@keyframes arrowBtn {
    0% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(2px);
    }
}