.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.container div div {
  padding: 10em 4em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.5em;
  width: 550px;
}

.textContainer .tag {
  text-transform: uppercase;
  font-weight: bold;
}

.textContainer h1,
.textContainer p,
.textContainer p span {
  color: white;
}

.textContainer p {
  color: #dfdfdf;
  font-weight: 200;
}

.textContainer h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: normal;
}

.textContainer .date {
  font-size: small;
}

.textContainer .date span {
  color: white;
}
