.container {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
}

@media only screen and (max-width: 1250px) {
  .container {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 680px) {
  .container {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
  }
}
