.container {
  position: relative;
  height: 500px;
  cursor: pointer;
  transition: 0.2s ease;
}

.container:hover {
  animation: pushUpCard 1s forwards;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container:hover:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to left, #5a77ff, #ffc593);
  z-index: 2;
}

.container img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.container > div {
  width: 100%;
  height: 100%;
}

.container > div > div {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  position: absolute;
  gap: 1em;
  padding: 2em;
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.752) 100%
  );
}

.container > div > div .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.2em;
}

.container > div > div > .textContainer > p {
  color: white;
  font-size: small;
  font-weight: 200;
}

.container > div > div > .textContainer > h2 {
  color: white;
  font-size: x-large;
}

.horizontalSeparator {
  background-color: #bdbdbd60;
  height: 1px;
  width: 100%;
}

.container > div > div > button {
  background-color: transparent;
  border: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.container > div > div > button > span {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.container > div > div > button > span:hover {
  text-decoration: underline;
}

@keyframes pushUpCard {
  0% {
  }

  50% {
    translate: 0px -1.5em;
    z-index: 2;
  }

  100% {
    translate: 0px -1em;
    z-index: 2;
  }
}
