.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  padding: 1em;
  font-size: "14px";
  font-weight: "bold";
  border-bottom: 1px solid #dfdfdf;
  background-color: white;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.link:hover {
  color: #dfdfdf;
  transition: 0.2s ease;
}

.menu {
  display: none;
}

.mobileNavList {
  /* transform: translateY(0); */
  display: none;
}

.mobileNavListClosed {
  display: none ;
  transform: translateY(-110%);
  /* opacity: 0; */
}

@media only screen and (max-width: 680px) {
  .mobileNavList {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1em;
    padding: 2em 0em;
    border-bottom: 1px solid #dfdfdf;
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    margin-top: 3.5em;
    z-index: 1;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em 2em;
    position: relative;
  }

  .nav > .container,
  .nav > .getInvite {
    display: none;
  }

  .menu {
    display: flex;
  }

  .mobileNavList > .mobileContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1em;
  }

  .mobileNavList > .mobileContainer > a {
    font-size: large;
  }

  .lineSeparator {
    height: 1px solid gray;
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 0.5em 2em;
  }

  .getInvite > a {
    font-size: large;
  }
}

@keyframes slideInNav {
  from {
    display: none;
  }

  to {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1em;
    padding: 2em 0em;
    border-bottom: 1px solid #dfdfdf;
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
  }
}
