.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  padding: 1em;
  font-size: "14px";
  font-weight: "bold";
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.link:hover {
  color: #dfdfdf;
  transition: 0.2s ease;
}

.menu {
  display: none;
}

@media only screen and (max-width: 680px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav > .container,
  .nav > .getInvite {
    display: none;
  }

  .menu {
    display: flex;
  }
}
